#calc_frame {
  border: 2px solid grey;
  border-radius: 5px;
  display: box;
  /*box-shadow: */
  height: auto;
  margin: 10% auto;
  width: 350px;
}
input {
  margin: 0;
}
#results-bar {
  border: 2px solid;
  height:50px;
  margin: 10px 30px;
  text-align: right;
  width: 80%;
}

.button {
  background-color: blue;
  border-radius: 2px;
  color: white;
  float: left;
  height: 50px;
  margin: 10px;
  text-align: center;
  width: 50px;
}
.button:hover {
  background-color: red;
  color: black;
}
.tall_button {
  height: 120px;
  float: right;
  
}
equals_button {
}
