* {
  margin: 0;
}
body {
  background-color: black;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
  font-family: sans-serif;
  margin: 0 auto;
  min-height: 600px;
  width: 960px;
  border-bottom: 20px solid rgb(128,000,000);
}
footer {
  /*border-bottom: 20px solid rgb(128,000,000);*/
  height: 40px;
  margin-top: -40px;
}
footer p {
  margin: 0px;
}
header {
  height: 120px;
  width: 100%;
}
header a {
  color: rgb(255,255,255);
}
html, body {
  height: 100%;
}
nav{
  color: rgb(255,255,255);
}
p {
  margin: 20px;
}
ul {
  list-style-type: none;
}


#container {
  background-color: white;
  height: 100%;
}
#copyright {
  color: rgb(255,255,255);
  height: 40px;
  line-height: 40px;
  margin: 0 auto; 
  text-align: center;
  width: 480px;
}
#left {
  border-right: 2px solid rgb(128,000,000);
  box-sizing: border-box;
    -moz-box-sizing: border-box;
  float: left;
  height: 300px;
  line-height: 1.25em;
  margin: 50px 0;
  min-height: 250px;
  padding: 0px 30px;
  width: 600px;
}
#left li {
  margin: 0px 20px 7px 40px;
  line-height: 1.1em;
  text-indent: -40px;
}
#left a, #right a {
  color: rgb(000,000,000);
}
#left p {
  margin: 20px auto 5px 0px;
}
#left ul {
  margin-bottom: 30px;
}
#middle {
  border-top: 20px solid rgb(128,000,000);
  box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#name {
  color: rgb(128,000,000);
  float: left;
  margin: 10px 15px 10px 20px;
}
#nav li, #subnav li {
  line-height: 35px;
  height: 36px;
  margin: 0px;
  padding: 0px 5px;
  font-size: 1em;
  text-align: center;
  width: 90px;
}
#nav li {
  display: inline-block;
}
#nav li a {
  text-decoration: none;
  font-variant:small-caps;
}
#nav li a:hover {
  text-transform: uppercase;
}
#nav li a:visited {
  color: white;
}
#nav, #subnav {
  color: white;
  float: right;
  margin-right: 15px;
  width: auto;
}
#right {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
  float: right;
  line-height: 1.25;
  margin: 50px 0;
  min-height: 200px;
  min-width: 300px;
  width: auto;
}
#right p, #right li {
  display: block;
  margin-left: 0px;
}
#subnav {
  color: rgb(255,255,255);
  float: left;
  font-variant: small-caps;
  height: 36px;
  line-height: 35px;  
  margin-left: 15px;
  text-align: center;
  width: 460px;
}
#subnav li {
  display: inline;
}
#title {
  color: rgb(000,000,000);
  display: inline;
  float: right;
  margin: 10px 50px 10px 15px;
  clear: right;
}

.banner {
  font: 3.46em serif;
}
.b_color {
  background-color: rgb(128,000,000);
}
.current_tab {
  background-color: rgb(000,000,000);
}
.radius {
  border-top-left-radius: 15px;
    -moz-border-top-left-radius: 15px;
}