/*CSS File for Music City Cafe Website's printable display */

/* Header Content */
#header {
	background-color: rgb(0,0,0);
	background-image: url('../assets/logo_blue_yellow.png');
	display: none;
	height: 150px;
}

/* Navigation */
.current {
	border-style: solid;
	border-width: 0px 2px;
	font-weight: bold;
	text-transform: uppercase;
}
#nav {
	border-style: solid;
	border-width: 0px 0px 1px;
	clear: both;
	display: inline;
	float:left;
	height: 25px;
	margin: 0px;
	padding: 0px;
	width: 750px;
}
#nav ul {
	margin: 1px;
	padding: 0px;
	text-align: center;
}
#nav ul li {
	display: inline;
	font-size: 80%;
	height: 20px;
	list-style-type: none;
	padding: 0px 10px;
}
#nav ul li a:hover	 {color: rgb(255, 255, 107);}
#nav ul li a:link {color: rgb(0,49,225);}
#nav ul li a:visited {color: rgb(0,0,0);}
#navigation {
	list-style-type: none;
	padding: 0px;
}

/* Body Content */
#container {
	margin: 0px auto 50px;
	overflow: hidden;
	width: 750px;
}
#content {
	margin: 30px 0px;
	padding: 10px 0px 10px 20px;
	width: 350px;
}

/* Tables */
form {
	border-style: solid;
	border-width: 1px;
	padding: 10px;
}
table {
	padding: 10px 0px;
}
td {
	padding: 0px 2px;
}
td.lunch {
	border-style: solid;
	border-width: 0px 1px 0px;
}
tr {
	font-size: 80%;
	padding: 4px 0px;
}
th {
	border-style: solid;
	border-width: 0px 0px 2px;
	text-align: left;
}

/* Side Content */
#side_image {
	float: right;
	width: 375px;
}
#side_image ul {
	list-style-type: none;
}
#side_image ul li {
	padding: 2px;
}

/* Footer */
#footer {
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 750px
}

/* Misc */
audio {display: none}
img {display: none}
.page_end {page-break-after: always;	page-break-before: avoid;	}