vti_encoding:SR|utf8-nl
vti_author:SR|Edge14\\CWilson
vti_modifiedby:SR|Edge14\\CWilson
vti_timelastmodified:TW|16 Apr 2011 21:33:11 -0000
vti_timecreated:TR|30 Jan 2011 02:34:42 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contact.html faq.html joinup.html default.html
vti_nexttolasttimemodified:TW|16 Apr 2011 21:33:11 -0000
vti_cacheddtm:TX|16 Apr 2011 21:33:11 -0000
vti_filesize:IR|1536
vti_cachedlinkinfo:VX|S|assets/cu_logo.jpg
vti_cachedsvcrellinks:VX|FSUS|assets/cu_logo.jpg
